body h1,h2,h3,h4,h6,ul,li {
    margin: 0;
    font-family: Georgia, 'Times New Roman', Times, serif;
}

header {
    margin: 0 auto;
    max-width: 1376x;
    height: 500px;
    background-image: url(/01-JoesBB/images/header.jpg);
    background-color: beige;
}

header h1 {
    color: #fff;
    text-align: center;
    text-shadow: 2px 2px rgb(48, 48, 48);
    font-size: 50px;
}

header h2 {
    color: #fff;
    text-align: center;
    text-shadow: 2px 2px rgb(48, 48, 48);
    font-size: 30px;
}

body {
   
}

main {
    margin: 0 auto;
    
}

main h2 {
    color: #485156;
    font-size: 30px;
}

main h3 {
    color: #485156;
}

li {
    list-style-type: disc;
}

footer {
    text-align: center;
    font-size: 24px;
    color: #fff;
    text-shadow: 2px 2px rgb(48, 48, 48);
    height: 30px;
    border-style: none;
    background-color: #477292;
}